*{
    margin:0;
    padding: 0;
}
html{
    height: 100%;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.footer{
    background: blue;
    margin-top: auto;
    margin-bottom: 0;
    height: max-content
    
    
}

.bottom{
    margin-top: auto;
    
}